## .NET
bin/
obj/
*.user
*.suo
.vs/

## SQLite DB (ข้อมูล local ไม่ควร push)
*.db
*.db-shm
*.db-wal

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Logs
*.log
